<div class="jumbotron">
  <img src="/img/feed_me_button.png" class="img-circle landingpage-jumbotron-left">
  <div class="landingpage-jumbotron-right jumbotron">
    <h1>Get food delivered to your doorstep in one click</h1>
    <p class="lead">Yep. It's really that <del>simple</del> awesome.</p>
    <a class="btn btn-large btn-success landingpage-signupbutton" href="/register/">Sign me up!</a>
  </div>
</div>

<hr>

<div class="marketing landingpage-howitworks">
  <h2>How it works</h2>
  <div class="row-fluid">
    <div class="span4">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="span4">
      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
    <div class="span4">
      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
</div>

<hr>
